.custommerSection{
        background-color: white; 
        display: flex;
}

.custommerContainer{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 69px;
    margin: auto;
}

.custommer-item{
    padding: 20px;
    width: 18vw;
    height: 145px;
    align-self: center;
    text-align: center;
}

.custommerImage{
    max-width: 100%; 
    width: 150px;
    height: 120px;
}
/*BORDERS.... fix this hack later... or other designer cus i can't :'v*/
.column1{
    border: 1.1px solid #353f69;
    border-top: 0px;   
    border-bottom: 0px;   
    border-right:  2.7px solid #353f69;   
    border-left: 0px;     
}
.column2{
    border: 1.1px solid #353f69;
    border-bottom: 0px;   
    border-top: 2.7px solid #353f69;
    border-right:  2.7px solid #353f69;   
    border-left: 0px;    
}
.column2 .custommerImage {
    top: 10px;
}
.lasted{
    border-right: 0px solid #3e6aaf;  
}

// MEDIA QUERY.... 
  @media all and (max-width: 1265px) {
    .custommer-item {
        width: 16vw;
        height: 136px;
    }
    .custommerImage{
        max-width: 100%;
        width: 125px;
        height: 90px;
        padding: 30px;
    }
  }

  @media all and (max-width: 1000px) {
    .custommerContainer{
        padding: 40px;
        margin: auto;
    }
    .custommer-item {
        width: 15vw;
        height: 120px;
    }
    .custommerImage{
        max-width: 100%;
        width: 120px;
        height: 80px;
        padding: 10px;
    }
  }

  @media all and (max-width: 824px) {
    .custommerContainer{
        padding: 40px;
    }
    .custommer-item {
        // padding: 10px;
        width: 15vw;
        height: 100px;
    }
    .custommerImage{
        max-width: 100%;
        width: 85px;
        height: 56px;
        padding: 10px;
    }
  }

  @media all and (max-width: 672px) {
    .custommerContainer{
        padding: 70px;
        margin: auto;
    }
    .custommer-item {
        padding: 20px;
        width: 11vw;
        height: 85px;
    }
    .custommerImage{
        max-width: 100%;
        width: 70px;
        height: 50px;
        padding: 10px;
    }

    .column1{
        border: 1.1px solid #353f69;
        border-top: 0px;   
        border-bottom: 0px;   
        border-right:  2.7px solid #353f69;   
        border-left: 0px;     
    }
    .column2{
        border: 1.1px solid #353f69;
        border-bottom: 0px;   
        border-top: 2.7px solid #353f69;
        border-right:  2.7px solid #353f69;   
        border-left: 0px;    
    }
    .column2 .custommerImage {
        top: 10px;
    }
    .lasted{
        border-right: 0px solid #3e6aaf;  
    }
  }
  .casouselContainer{
      display: none;
  }

  .carousel .slide {
    background: white; 
    }
    .carousel .slide img {
        width: 80%;
    }
    .carousel .control-dots .dot {
        background: black !important;
    }
    .carousel .slider-wrapper {
        width: 80%;
    }
    .carousel .slide img {
        width: 85%
    }
    .carousel.carousel-slider {
        margin: auto !important;
    }
    .carousel .thumbs-wrapper {
        margin: 10px;
    }
  @media all and (max-width: 564px) {
    .carousel .control-dots .dot {
        background: black !important;
    }
    .custommerSection{
        background-color: white; 
        display: contents;
    }
    .carousel .slide {
        background: white !important;
    }
    .carousel .slide img {
        width: 85% !important;
    }
    .carousel .slider-wrapper {
        width: 80%;
    }
    .carousel.carousel-slider {
        margin: auto !important;
    }
    .casouselContainer{
        display: contents;
    }
    .custommerContainer{
       display: none;
    }
  }
