
.cardContainer{
  height: 85vh;
  
  .buttomContainer{
    flex-basis: 30%;
    margin: auto;
    flex-flow: row wrap;
    // align-content: center;
    .btn{
          background-color: #3e6aaf; 
          border: none;
          color: white;
          padding: 15px 32px;
          text-decoration: none;
          display: inline-block;
          font-size: 1em;
          max-width: 50%;
          width: auto; 
          height: auto;
      } 

      .textInfo{
          max-width: 100%;
          max-height: auto;
          text-align: left; 
          text-decoration: none;
          text-align: center;
          width: 25vw; 
          font-size: 1em;
          color: #3e6aaf;
      }
          
  }
  .imageContainer{
    flex-basis: 70%;
    align-content: center;
    position: relative;
    .slideImage {
      max-width: 75%;
      width:  auto;
      height: auto; 
      position: absolute;
      }
    } 
    @media all and (max-width: 1350px) {
      .slideImage{
        max-width: 100% !important;
      }
    }
      /* Medium screens */
      @media all and (max-width: 800px) {
        .cardContainer{
          height: 120vh !important;
        }
        .imageContainer{
          flex-basis: 60% !important;
          align-content: center;
          position: relative;
        }
        .buttomContainer{
          flex-basis: 20%;
          align-content: center;
          margin: auto;
        }
        .textInfo{
          width: 90vw !important; 
          font-size: 1em;
      }
      .slideImage{
        max-width: 75% !important;
        width:  auto;
        height: 45vh !important; 
        left: 25px;
        bottom: 9px;
      }
      }
      @media all and (max-width: 800px) {

      }
      @media all and (max-width: 800px) {


      }
      @media all and (max-width: 800px) {
  
      }
      @media all and (max-width: 800px) {

      }
        /* Small screens */
        @media all and (max-width: 500px) {
          .cardContainer{
            height: 80vh;
          }
          .imageContainer{
            flex-basis: 47% !important;
            align-content: center;
            position: relative;

          }
          .buttomContainer{
            flex-basis: 40%;
            align-content: center;
            margin-bottom: 0px;
          }
        }
        @media all and (max-width: 500px) {

        }
        @media all and (max-width: 500px) {
  
        }
  }


