.slideImage {
    max-width: 100%;
    width: 100vh;
    height: 90vh; 
    float: left;
  }

  .btn1{
        background-color: #3e6aaf; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2em;
        width: 30vh; 
        height: 10vh;
  } 

  .textInfo{
    text-align: left; 
    text-decoration: none;
    width: 40vh; 
    font-size: 0.9em;
    color: #3e6aaf;
  }