.securityContainer{
    display: flex; 
    flex-flow: column;
    align-items: center;
    width: 80vw;
}
.securityVideoContainer{
    width: 38vw;
    height: 50vh;
    margin-top: 10px;
    .securityVideo{
        width: 575px;
        height: 330px;
    }
}
.securityHeader{
    display: flex; 
    flex-flow: row;
    justify-content: center;
}

.secHeaderImage{
    max-width: 100%;
    width: 100px;
    height: 100px; 
    flex-basis: 20%; 
    .securityLogo{
        width: 100px; 
        height: 100px;
    }
}
.secHeaderText{
    flex-basis: 45%;
    background-color: #e0e0e0; 
}
.secHeaderText h1 p {
    margin: 0px;
    
}
.secHeaderText h1{
    font-weight: lighter;
    font-size: 3em;
    margin: 0px;
}


.securityContent{
    flex-basis: 60%;
    width: 45vw;
}

.securityContent .secText{
    padding-left: 30px;
}
