.asideContainer{
    display: flex;
    flex-basis: 20%;
    background: #f74f68;
    justify-content: center;
}
.asideNav {
    display: flex; 
    flex-flow: column;
    margin-top: 20px;
      a:link {
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
      }

      a:hover {
        text-decoration: none;
      }

      a:active {
        text-decoration: none;
      }
}

.asideBtn{
    background: none;
    border: none; 
    cursor: pointer;
}
.asideItems{
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    
}
.asideItems p {
    color: #353f69;
    text-align: center;
    width: 130px;
}
.asideImage {
    height: 60px;
    width: 65px;
}

.active{
  background-color: #fb425e; 
  color: #353f69;
  border-radius: 80%;
  text-decoration: none;
}