.contacUsSection{
    height: 100vh;
    background: cadetblue;
}
.contact-form{
    display: flex; 
    flex-flow: column;
    width: 40%;
    margin: auto;
}

.messageInput {
    margin: auto;
    width: 603px;
    height: 120px;
}
.FormButton-container{
    flex-flow: row wrap;
    text-align: center;
    .Formbutton{
          background-color: #3e6aaf; 
          border: none;
          color: white;
          padding: 15px 32px;
          text-decoration: none;
          display: inline-block;
          font-size: 1em;
          max-width: 50%;
          width: auto; 
          height: auto,
      }     
  }