.topnav {
    overflow: hidden;
    background-color: white;
  }
  
  .topnav .linkTo {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 5px;
  }
  
  .topnav .linkTo:hover {
    text-decoration: underline; 
    text-decoration-color:#f74f68;
  }
  
  
  .topnav .linkTo.active {
    background-color: #f0c936;
    color: white;
  } 

  .logoView {
    width: 100px;
    height: 80px; 
    float: left;
  }