.topnav {
  right: 15px;
  list-style: none;
  margin: 0; 
  background: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  }

  .topnav .linkTo {
    color: #364066;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-top: 5px;
    text-decoration: none;
    display: block;
    padding: 1em;
  }
  
  .topnav .linkTo:hover {
    text-decoration: underline; 
    text-decoration-color:#f74f68;
  }
  
  .topnav .linkTo.active {
    background-color: #f0c936;
    color: white;
  } 

  .menuLogo {
    width: 100px;
    height: 60px;
  }

  .logoContainer{
    list-style: none;
    margin-left: 15px; 
    background: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: absolute;
  } 

  
@media all and (max-width: 600px) {
  .topnav {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  .topnav .linkTo{ 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  .logoContainer {
    position: relative;
    justify-content: center;
  }

}
