.experienceSection{
    background-color: #f6f6f6; 
    // height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.experienceHeader{
    display: flex;
    flex-flow: row;
    max-width: 100%;
    width: 50%;
    height: 50px;
    // margin: auto;
    padding: 70px;
} 
.experienceHeader h1{
    margin: auto;
    margin-right: 20px;
    font-size: 3em;
} 

@media all and (max-width: 900px) {
    .experienceHeader {
        flex-flow: column;
        text-align: center;
        max-width: 100%;
        width: 50%;
        height: 50px;
        margin: auto;
    }
    .experienceHeader h1{
        margin: 0px;
  }
}
@media all and (max-width: 600px) {
    .experienceHeader {
        flex-flow: column;
        text-align: center;
        max-width: 100%;
        width: 50%;
        height: 120px;
        margin: auto;
        padding: 10px;
    }
    .experienceHeader h1{
        margin: 0px;
        font-size: 2.5em;
  }
  .experienceHeader p{
    margin: 0px;
    font-size: 0.9em;
}
}


@media all and (max-width: 400px) {
    .cardExperienceContainer{
        padding: 0px;
    }
}

// cards 
.cardExperienceContainer{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media all and (max-width: 600px) {
    .techContainer {
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      padding: 0;
    }
  }
