

.sliderSection1 {
  
  position: static;
  // 
}

/*dots container*/
.slick-dots{
  background-color: #f74f68;
  height: 15vh;
  z-index: -1;
}
.slick-dots li{
  top: 40px;
}
.slick-dots li.slick-active button:before {
  color: #3e6aaf !important;  
}
.slide{
  width: 95vw;
}