.sliderSection {
  height: auto;
  position: relative;
}

/*dots container*/
.slick-dots{
  background-color: #f74f68;
  height: 15vh;
  z-index: -1;
}
.slick-dots li{
  top: 40px;
}
.slick-dots li.slick-active button:before {
  color: #3e6aaf !important;  
}

// para el mapa 

/*
    max-width: 100%;
    width: auto;
    height: 96vh;
    position: absolute;
    bottom: 94px;
*/